.definition {
    color: rgb(181, 32, 37);
}

.mycolor0 {
    color: #008000;
}

.mycolor1 {
    color: rgb(82, 79, 161);
}

.mycolor2 {
    color: rgb(0, 187, 214);
}

.mycolor3 {
    color: rgb(146, 215, 231);
}

.mycolor4 {
    color: rgb(255, 199, 78);
}

.mycolor5 {
    color: rgb(171, 193, 120);
}

.mycolor6 {
    color: rgb(214, 194, 173);
}